[submodule "product-service"]
	path = product-service
	url = git@github.com:Mr-AB007/productservice.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:Mr-AB007/orderservice.git
[submodule "payment-service"]
	path = payment-service
	url = git@github.com:Mr-AB007/paymentservice.git
[submodule "service-registry"]
	path = service-registry
	url = git@github.com:Mr-AB007/service-registry.git
[submodule "tradepay-api-gateway"]
	path = tradepay-api-gateway
	url = git@github.com:Mr-AB007/trade-api-gateway.git
